{% trans_default_domain easyadmin_config('translation_domain') %}
{% extends easyadmin_config('design.templates.layout') %}

{% block title %}{{ 'Password Reset Email Sent'|trans }}{% endblock %}

{% block body_class 'page-login reset-password' %}

{% block wrapper_wrapper %}
  <div class="login-wrapper">
    <header class="main-header mb-4">
      <div id="header-logo">
        {% block header_logo %}
          <a class="logo {{ easyadmin_config('site_name')|length > 14 ? 'logo-long' }}" title="{{ easyadmin_config('site_name')|striptags }}" href="{{ path('easyadmin') }}">
            {{ easyadmin_config('site_name')|raw }}
          </a>
        {% endblock header_logo %}
      </div>
    </header>
    <section class="content">

      <p>{{ 'An email has been sent that contains a link that you can click to reset your password. This link will expire in %hours% hour(s).'|trans({'%hours%': tokenLifetime|date('g')})|raw }}</p>
      <p>{{ 'If you don\'t receive an email please check your spam folder or <a href="%password_request_url%">try again</a>.'|trans({'%password_request_url%': path('app_forgot_password_request')})|raw }}</p>

    </section>
  </div>
{% endblock %}
