{% trans_default_domain easyadmin_config('translation_domain') %}
{% extends easyadmin_config('design.templates.layout') %}

{% block title %}{{ 'Reset your password'|trans }}{% endblock %}

{% block body_class 'page-login reset-password' %}

{% block wrapper_wrapper %}
  <div class="login-wrapper">
    <header class="main-header mb-4">
      <div id="header-logo">
        {% block header_logo %}
          <a class="logo {{ easyadmin_config('site_name')|length > 14 ? 'logo-long' }}" title="{{ easyadmin_config('site_name')|striptags }}" href="{{ path('easyadmin') }}">
            {{ easyadmin_config('site_name')|raw }}
          </a>
        {% endblock header_logo %}
      </div>
    </header>
    {% if error|default(false) %}
      <div class="w-100 alert alert-danger">
        {{ error.messageKey|trans(error.messageData, 'security') }}
      </div>
    {% endif %}
    <section class="content">
        {% form_theme form '@EasyAdmin/form/bootstrap_4.html.twig' %}
        {{ form_start(form) }}
        <div class="form-group field-username">
            <label for="username" class="sr-only form-control-label required">{{ username_label }}</label>
            <div class="form-widget form-widget-with-icon">
                <i class="fa fa-fw fa-envelope"></i>
                {% set username_field = form[username_form_property] %}
                {{ form_widget(username_field, {id: 'username', attr: {placeholder: username_label}}) }}
            </div>
        </div>

        <div class="form-group field-button">
            <button type="submit" class="btn btn-primary btn-lg btn-block">
                {{ 'Send password reset email'|trans }}
            </button>
        </div>
      {{ form_end(form) }}
    </section>
  </div>
{% endblock %}
